{
	"env": {
		"targets": "> 1%, last 2 versions"
	},
	"$schema": "https://json.schemastore.org/swcrc",
	"jsc": {
		"parser": {
			"syntax": "ecmascript",
			"jsx": false,
			"dynamicImport": false,
			"privateMethod": false,
			"functionBind": false,
			"exportDefaultFrom": false,
			"exportNamespaceFrom": false,
			"decorators": false,
			"decoratorsBeforeExport": false,
			"topLevelAwait": false,
			"importMeta": false
		},
		"transform": null,
		"loose": false,
		"externalHelpers": false,
		"keepClassNames": false
	},
	"minify": false
}