<% if (htmlWebpackPlugin.options.unsupportedBrowser) { %>
	<style>.unsupported-browser { display: none; }</style>
	<div class="unsupported-browser">Sorry, your browser is not supported. Please upgrade to the latest version or switch your browser to use this site. See <a href="http://outdatedbrowser.com/">outdatedbrowser.com</a> for options.</div>
<% } %>