<!DOCTYPE html>
<% include src/layouts/partials/manifest %>
<head>
	<% include src/layouts/partials/head %>
</head>
<body>
	<% include src/layouts/partials/unsupported %>
	
	<h1>Contact Child - Black</h1>

	<% include src/layouts/partials/window %>
	<% include src/layouts/partials/analytics %>
</body>
</html>