<!DOCTYPE html>
<% include src/layouts/partials/manifest %>
<head>
	<% include src/layouts/partials/head %>
</head>
<body>
	<% include src/layouts/partials/unsupported %>
	<% include src/layouts/partials/app %>
	<% include src/layouts/partials/window %>
	<% include src/layouts/partials/analytics %>
</body>
</html>